.Signup{
    height: 100vh;
    display: flex;

}

/* ============= welcome side =============== */
.welcomeSide{
    width: 40%;
    background-image: url('/images/signinBg.png');
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcomeSide .logo{
    align-self: flex-start;
    margin-left: 80px;
    cursor: pointer;
}
.welcomeSide .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.welcomeSide .heading{
    height: 40%;
    display: flex;
    align-items: center;
}
.welcomeSide .signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.welcomeSide .signup button{
    width: fit-content;
}



/* ================== form side ================== */
.formSide{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formSide .icons{
    color: var(--secondaryColor);
    font-size: 30px;
    display: flex;
    gap: 20px;
}
.formSide .emailInput{
    
    position: relative;
    display: flex;
    align-items: center;
}
.formSide .passwordInput{
    
    position: relative;
    display: flex;
    align-items: center;
}
.formSide input{
    width: 400px;
    height: 60px;
    outline: none;
    border: none;
    background-color: #CCCD214F;
    border-radius: 10px;
    padding: 0  0 0 60px;
    
}
#forgotPassword{
    text-decoration: underline;
    cursor: pointer;
}
.formSide .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formSide .form .icon{
    position: absolute;
    left: 20px;
}


